<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.portal.wms.mapper.ProductMapper">

    <resultMap type="com.yang.portal.wms.entity.Product" id="ProductMap">
        <id property="id" column="ID" jdbcType="INTEGER"/>
        <result property="name" column="NAME" jdbcType="VARCHAR"/>
        <result property="code" column="CODE" jdbcType="VARCHAR"/>
        <result property="uniqueId" column="UNIQUE_ID" jdbcType="INTEGER"/>
        <result property="description" column="DESCRIPTION" jdbcType="VARCHAR"/>
        <result property="isDelete" column="IS_DELETE" jdbcType="INTEGER"/>
        <result property="revision" column="REVISION" jdbcType="INTEGER"/>
        <result property="createdId" column="CREATED_ID" jdbcType="INTEGER"/>
        <result property="createdBy" column="CREATED_BY" jdbcType="VARCHAR"/>
        <result property="createdTime" column="CREATED_TIME" jdbcType="TIMESTAMP"/>
        <result property="updatedId" column="UPDATED_ID" jdbcType="VARCHAR"/>
        <result property="updatedBy" column="UPDATED_BY" jdbcType="VARCHAR"/>
        <result property="updatedTime" column="UPDATED_TIME" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="search" resultMap="searchMap">
        SELECT <include refid="productColumn"/> FROM PRODUCT
        <where>
            IS_DELETE = false
            <if test="query.name != null and query.name != ''">
                AND NAME LIKE CONCAT('%',#{query.name},'%')
            </if>
            <if test="query.code != null and query.code != ''">
                AND CODE LIKE CONCAT('%',#{query.code},'%')
            </if>
        </where>
        <choose>
            <when test="query.orderByCreatedTimeDesc">
                ORDER BY CREATED_TIME DESC
            </when>
            <when test="!query.orderByCreatedTimeDesc">
                ORDER BY CREATED_TIME ASC
            </when>
            <otherwise>
                ORDER BY ID DESC
            </otherwise>
        </choose>
        LIMIT #{start},#{end}
    </select>
    
    <resultMap id="searchMap" type="com.yang.portal.wms.service.impl.product.ProductSearchResponse" extends="ProductMap">
        <collection property="skus" select="com.yang.portal.wms.mapper.SkuMapper.getSkuByProductId" column="{productId=id}"/>
        <collection property="specifications" select="com.yang.portal.wms.mapper.SpecificationMapper.getSpecificationByProductId" column="{productId=id}"/>
    </resultMap>

    <sql id="productColumn">
        ID,NAME,CODE,UNIQUE_ID,DESCRIPTION,IS_DELETE,REVISION,CREATED_ID,CREATED_BY,CREATED_TIME,UPDATED_ID,UPDATED_BY,UPDATED_TIME
    </sql>

</mapper>

